* {
  box-sizing: border-box;
}

.card {
  box-shadow: -25px 25px 60px 5px rgba(0, 0, 0, 0.5), 
              -60px 60px 100px 13px rgba(0, 0, 0, 0.27);
  overflow: hidden;
  transition: height 1.3s ease-in-out;
}


.card .quote {
  font-style: italic !important;
}
.author {
  font-weight: 400 !important;
}

.card .quote {
  font-size: 3rem;
  padding: 3rem;
  text-transform: none;
}

.card .author {
  font-size: 2.5rem;
  // position: absolute;
  // bottom: 2rem;
  margin-bottom: 2rem;
  margin-right: 3rem;
  float: right;
  right: 3rem;
  color: #fff;
}

#quote-slide {
  position: relative;
  top: 3rem !important;
  background: rgba(125, 125, 125, 0.35);
  background-image: url("img/sky.jpg");
  margin: 0;
  padding: 0;
}